
h1{
    font-size: 25px;
    font-weight: bolder;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aquamarine;
    margin: 20px;
    padding: 15px;
    width:400px;
    float: left;
    position: relative;
}
.container1{
    word-spacing: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin:20px;
    padding:15px;
    width:450px;
    height:250px;
    float: initial;
    position: relative;
}
.crystals{
    width:50%;
}
.container2{
    float:left;
    padding:5px;
    width: 25%;
    height:150px;
    background:black;
    color:white;
    font-size:25px;
}
.total{
    float:right;
    padding:5px;
    width:25%;
    height:150px;
    background: black;
    color: white;
    font-size:25px;
}
.row{
    display: table;
    clear: both;
}